#:exercise-set{:id :exercise-set/grade6.patterns.visualizing,
               :title "Visualising and Relating Sequences",
               :grade-level 6,
               :domain :patterns,
               :skills
               #{:skill/patterns.relate-sequences
                 :skill/patterns.visualize-numbers},
               :blocks
               [#:block{:title "Exercise 1",
                        :type :multiple-choice,
                        :prompt
                        "What sequence do you get when you start adding up the Odd Numbers? (1 = 1, 1+3 = 4, 1+3+5 = 9...)",
                        :options
                        ["Triangular Numbers"
                         "Square Numbers"
                         "Cube Numbers"],
                        :answer "Square Numbers"}
                #:block{:title "Exercise 2",
                        :type :multiple-choice,
                        :prompt
                        "What happens when you add up pairs of consecutive triangular numbers? (e.g., 1+3=4, 3+6=9, 6+10=16)",
                        :options
                        ["You get Cube Numbers"
                         "You get Square Numbers"
                         "You get Powers of 2"],
                        :answer "You get Square Numbers"}
                #:block{:title "Exercise 3",
                        :type :multiple-choice,
                        :prompt
                        "Which shape can be formed by 15 dots arranged in 5 rows?",
                        :options ["A square" "A triangle" "A hexagon"],
                        :answer "A triangle"}]}
