{:source-paths ["src"]

 :dependencies [[reagent "1.2.0"]
                [metosin/reitit "0.7.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules    {:main {:init-fn tutor.core/init}}
        :devtools   {:after-load tutor.core/init}}}}
